h1{
    color:  green;
    margin-top: 70px;
    margin-left: 339px;
    font-size: 50px;
}

#main{
    margin-left: 505px;
    height: 79px;
    padding: 10px;
}

.choice-image{
    height: 75px;
}

.button-class{
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 20px;
    background-color: gainsboro;
}

#content{
    margin-left: 535px;
    padding: 50px;
    margin-top: -25px;
}

.reset-class{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: gainsboro;
    margin-left: 55px;
    margin-top: -5px;
}

