h1{
    color: blue;
    margin-top: 151px;
    margin-left: 460px;
}
.bat-class{
    border-radius: 20px;
    border: none;
    background-color: aqua;
    padding: 25px;
    font-size: 25px;
}

.ball-class{
    border-radius: 20px;
    border: none;
    background-color: pink;
    padding: 25px;
    font-size: 25px;
}

.stump-class{
    border-radius: 20px;
    border: none;
    background-color: red;
    padding: 25px;
    font-size: 25px;
}

#main{
    margin-left: 535px;
    border: 5px solid;
    width: 324px;
    height: 79px;
    padding: 10px;
    background-color: blue;
    border-radius: 33px;
}